<h1>Admin::Roles#index</h1>
<div class="show_content">
  <div class="index_as_table">
    <table id="index_table_categories" class="index_table index" paginator="true" cellspacing="0" cellpadding="0" border="0">
      <tr>
        <td class="sortable sorted-asc col col">Id</td>
        <td class="col col"><%= @role.id %></td>
      </tr>
      <tr>
        <td class="col col">Role</td>
        <td class="col col"><%= @role.name %></td>
      </tr>
    </table>
  </div>
</div>
