<div class="title_bar" id="title_bar">
  <div id="titlebar_left">
    <span class="breadcrumb">
      <%= link_to "Admin", admin_home_index %>
      <span class="breadcrumb_sep">/</span>
    </span>
    <h2 id="page_title">Categories</h2>
  </div>
  <div id="titlebar_right">
    <div class="action_items">
      <span class="action_item"><a href="http://localhost:3000/admin/categories/new">New Category</a></span>
    </div>
  </div>
</div>
