<div class="title_bar" id="title_bar">
  <div id="titlebar_left">
    <span class="breadcrumb">
      <%= link_to "Admin", admin_home_index_path %>
      <span class="breadcrumb_sep">/</span>
    </span>
    <% if @page_title %><h2 id="page_title"><%= @page_title%></h2><% end %>
  </div>
  <div id="titlebar_right">
    <div class="action_items">
      <span class="action_item"><%= link_to "New Role", new_admin_role_path %></span>
    </div>
  </div>
</div>
